
body {
    background-color: #e3e5e7;
}

.splash {
    min-height: 100vh;
}

.splash .left {
    position: relative;
    width: 100%;
    min-height: 60vh;

    display: flex;
    flex: none;
    justify-content: center;

    overflow: hidden;

    background-color: rgba(0, 0, 0, 0.7);
}

.splash .right {
    position: relative;

    display: flex;
    flex-direction: column;

    flex: none;
}

.container {
    display: flex;
    flex: none;

    width: 100%;
}

.left .container {
    height: 60%;
}

.right .container {
    flex-grow: 1;
}

.content {
    color: #ffffff;
    width: 100%;
    margin-top: 8em;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 1em;
}

.contact {
    width: 70%;

    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

.contact-info {
    width: 100%;
    height: 10em;

    display: flex;
    flex-direction: column;
    flex: none;
    align-items: center;
    justify-content: center;
}

.contact-info p {
    margin: 0;
}

#b-video {
    position: absolute;
    z-index: -10;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.logo {
    width: 100%;
    height: 5em;

    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../assets/logo-h.png");
}

.submit {
    background-color: #f5af00;
}

@media screen and (min-width: 1281px) {
    .splash {
        align-items: stretch;
        display: flex;
        justify-content: space-between;
    }

    .splash .left {
        width: 70%;
        height: auto;
    }

    .splash .right {
        width: 30%;
    }

    .container {
        align-items: center;
        justify-content: center;
    }

    .left .container {
        height: 60%;
    }

    .content {
        margin: 0;
        margin-left: 6em;
        margin-right: 10em;
    }

    .contact {
        width: 100%;
        margin: 0;
        margin-left: 4em;
        margin-right: 4em;
    }

    .logo {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        border-radius: 0 0 15% 0;
        width: 10em;
        height: 10em;

        background-image: url("../assets/logo-v.png");
    }
}

@media screen and (max-width: 500px) {
    .content {
        margin-top: 1em;
        margin-left: 3em;
        margin-right: 3em;
        margin-bottom: 3em;
    }
}
